{:paths ["classes" "src"]
 :deps  {org.clojure/clojure {:mvn/version "1.11.1"}
         cheshire/cheshire   {:mvn/version "5.11.0"}
         clj-http/clj-http   {:mvn/version "3.12.3"}
         bnert/packard       {:local/root  "../../"}}
 :aliases
 {:aech    {:main-opts ["-m" "aech.core"]}
  :uberjar {:replace-deps {uberdeps/uberdeps {:mvn/version "1.2.0"}}
            :replace-paths []
            :main-opts     ["-m" "uberdeps.uberjar"]}}}

